<div class="card" style="width: 18rem">
  <div class="card-body" >
    <h5 class="card-title">{{ juegos.title }}</h5>
    <app-img [img]="juegos.thumbnail" class="card-img-top" alt="..."></app-img>
    <p class="card-text">{{ juegos.short_description }}</p>
    <div class="div-botones--card">
      <div card-button>
        <button
          (click)="agregarFavoritos()"
          href="#"
          class="btn btn-dark btn-sm btn-negro"
        >
          Favorito<img src="/assets/imagenes/icon-cora.png" alt="" />
        </button>
        <button
          (click)="onVerDetalle()"
          href="#"
          class="btn btn-dark btn-sm btn-negro"
        >
          Detalle<img src="/assets/imagenes/lupa12.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</div>
