// p, h2{
//   margin: 0;
// }
.div-botones--card{
  display: flex;
  justify-content:center;
}

.card-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 25em;
}

.btn-card{
  border-radius: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

