// p, h2{
//   margin: 0;
// }
.div-botones--card{
  display: flex;
  justify-content:center;
}

.card-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-button{
  display: flex;
  justify-content: space-around;
  flex-direction: column
}

.card-text{
  height: 7em;
}

.card-text p{
  text-align: justify;
}
