<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{juegos.title}}</h5>
    <app-img [img]="juegos.thumbnail" class="card-img-top" alt="..."></app-img>
    <p class="card-text">{{juegos.short_description}}</p>
    <button (click)="agregarFavoritos()" href="#" class="btn btn-primary">Agregar</button>
    <button (click)="onVerDetalle()" class="btn btn-primary">Ver detalle</button>
  </div>
</div>

<!--
<app-img [img]="juegos.thumbnail"></app-img>
<h2>{{juegos.id}}</h2>
<p>{{juegos.title}}</p>
<p>{{juegos.game_url}}</p>
<button (click)="onVerDetalle()">Ver detalle</button>
<button (click)="agregarAlCarro()">Agregar</button> -->


<!-- <section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <app-img [img]="juegos.thumbnail"></app-img>
          <div class="card-body">
            <h2>{{juegos.id}}</h2>
            <p class="h3">{{juegos.title}}</p>
            <p>{{juegos.game_url}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->



