<div
  id="carouselExampleSlidesOnly"
  class="carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner tamaño-carrusel">
    <div class="carousel-item active" data-bs-interval="1000">
      <img class="imagen-carrusel"
        src="/assets/imagenes/recurso-banner2.png"
        class="d-block w-100 h-50"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="/assets/imagenes/recurso-banner1.png"
        class="d-block w-100 h-50"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img
        src="/assets/imagenes/recurso-banner4.png"
        class="d-block w-100 h-50"
        alt="..."
      />
    </div>
  </div>
</div>
