
<div id="carouselExampleSlidesOnly"  class="carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="/assets/imagenes/recurso-banner1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/assets/imagenes/recurso-banner2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/assets/imagenes/recurso-banner3.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
