.boton-raya{
  text-decoration-line: underline;
}

.imagen-carrusel{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.tamaño-carrusel{
  max-height: 35em;
}
