<!-- <p>
  la cantidad {{ listaDeJuegosAgg.length }}
</p> -->
<!-- <p>
  total: ${{total}}
</p> -->
<!-- <p>
  Today: {{today | date}}
</p> -->
<!-- <button (click)="toggleJuegoIndividual()">abrir</button> -->
<div class="container">
  <div class="lista-juegos--grid" >
    <app-juegos
    [juegos]="juegos"
    *ngFor="let juegos of juegosArray"
    (agregarJuego)="juegosAgregados($event)"
    (verJuego)="onVerDetalle($event)">
  </app-juegos>
  </div>
  <div class="juego-individual" [class.active]="showJuegoIndividual">
    <div class="card text-center" *ngIf="juegoElegido">
      <div class="card-header">
        Información del juego
      </div>
      <div class="card-body">
        <h5 class="card-title">Titúlo: {{juegoElegido.title}}</h5>
        <p class="card-text">Descripción: {{juegoElegido.short_description}}</p>
        <img [src]="juegoElegido.thumbnail" alt="">
        <!-- <p class="card-text">{{juegoElegido.id}}</p> -->
        <p class="card-text">{{juegoElegido.game_url}} y {{juegoElegido.genre}}</p>
        <p class="card-text">{{juegoElegido.platform}}</p>
        <p class="card-text">{{juegoElegido.developer}}</p>
        <p class="card-text">{{juegoElegido.release_date}}</p>
        <p class="card-text">{{juegoElegido.freetogame_profile_url}}</p>
        <button class="btn btn-dark" (click)="toggleJuegoIndividual()">Cerrar</button>
      </div>
    </div>

    <!-- <div *ngIf="juegoElegido">
      <button (click)="toggleJuegoIndividual()">Cerrar</button>
      <h1>{{juegoElegido.id}}</h1>
      <p>{{juegoElegido.title}}</p>
      <p>{{juegoElegido.short_description}}</p>
      <p>{{juegoElegido.game_url}}</p>
      <p>{{juegoElegido.genre}}</p>
      <p>{{juegoElegido.platform}}</p>
      <p>{{juegoElegido.publisher}}</p>
      <p>{{juegoElegido.developer}}</p>
      <p>{{juegoElegido.release_date}}</p>
      <p>{{juegoElegido.freetogame_profile_url}}</p>
      <button>agg fav</button>
    </div> -->
  </div>
</div>

