



.titulo-juntos h1 {
  text-align: center;
  font-size: 8rem;
  color: black;
  font-size: 1.5rem;
  margin-top: 0rem;
  font-weight: var(--font-weigth-titulos);
}

.crezcamos-juntos{
  padding: 5rem 5rem;
}

.texto-juntos p {
  text-align: center;
  font-size: var(--font-size-textos);
}

.raya {
  border-top: 3px solid;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

