



.titulo-juntos h1 {
  text-align: center;
  font-size: 8rem;
  font-size: 2rem;
  margin-top: 0rem;
  font-weight: 800;
  font-family: "Beaufort for LOL", serif;
}

.crezcamos-juntos{
  padding: 5rem 5rem;
}

.span-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-mas{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 10px;
  margin-bottom: -10px;
  text-transform: uppercase;
  font-family: "Beaufort for LOL", serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 0.85;
}

span {
  padding: 0px 15px 10px;
  margin-bottom: -10px;
  text-transform: uppercase;
  font-family: "Beaufort for LOL", serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 0.85;
}

.texto-juntos p {
  text-align: center;
  font-size: var(--font-size-textos);
}

.raya {
  border-top: 3px solid;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

