<body>
  <main>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
      <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded me-2" alt="...">
          <strong class="me-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>
    <section class="crezcamos-juntos">
      <div class="titulo-juntos">
        <h1 class="h2">¡Estamos listos!</h1>
      </div>
      <div class="texto-juntos">
        <p>COMIENZA TÚ LEYENDA</p>
      </div>
      <span class="span-mas">Más para</span>
      <div class="span-text">
      <span>Descubrir</span>
      </div>
      <hr class="raya" />
    </section>
  </main>
</body>
<app-lista-juegos></app-lista-juegos>
