/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:wght@600&family=Poppins:wght@700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

body{
  background: #292b2b;
  background: -webkit-linear-gradient(to right, #212122, #8a8d8f);
  background: linear-gradient(to right, #282f36, #e4e4e4);
}

* {
  margin: 0;
  padding: 0;
}

.btn-negro{
  border-radius: 0.5em;
}

.lista-juegos--grid{
  app-img{
    img{
      border-radius: 5px;
    }
  }
}
